nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu-icon {
  width: 22px;

  margin-right: 25px;
}

.nav-left .logo {
  width: 130px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  border: 0;
  width: 400px;
  outline: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
}

.darkmode-label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.darkmode-label:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

#darkmode-toggle:checked + .darkmode-label {
  background: #242424;
}

#darkmode-toggle:checked + .darkmode-label:after {
  left: 490px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkmode-label:after,
.darkmode-label:after:after {
  transition: 0.3s;
}

.darkmode-label:active:after {
  width: 26px;
}

.darkmode-label svg {
  position: absolute;
  width: 12px;
  top: 4px;
  z-index: 100;
}
.darkmode-label svg.sun {
  left: 4px;
  fill: #fff;
  transition: 0.3s;
}
.darkmode-label svg.moon {
  left: 34px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.darkmode-label:checked + .darkmode-label svg.sun {
  fill: #7e7e7e;
}
.darkmode-label:checked + .darkmode-label svg.moon {
  fill: #fff;
}
