.play-container{
    background: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dark-mode{
    background: #202020;
  }
.dark-mode .play-video h3{
    color: #fff;
  }
.dark-mode .play-video .publisher div p{
    color: #fff;
  }
.dark-mode .recommended .side-video-list .vid-info h4{
    color: #fff;
  }